<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.springboot.winter.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zz.springboot.winter.model.GameUserDO" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="int_status" property="intStatus" jdbcType="INTEGER" />
    <result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
    <result column="int_num" property="intNum" jdbcType="VARCHAR" />
    <result column="hand_rate" property="handRate" jdbcType="CHAR" />
    <result column="proportion" property="proportion" jdbcType="CHAR" />
    <result column="trade_int_limit" property="tradeIntLimit" jdbcType="CHAR" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="center_id" property="centerId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, username, name, user_type, user_status, int_status, invite_code, int_num, 
    hand_rate, proportion, trade_int_limit, platform_id, center_id, member_id, agent_id, 
    parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from game_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from game_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zz.springboot.winter.model.GameUserDO" >
    insert into game_user (user_id, username, name, 
      user_type, user_status, int_status, 
      invite_code, int_num, hand_rate, 
      proportion, trade_int_limit, platform_id, 
      center_id, member_id, agent_id, 
      parent_id)
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{userStatus,jdbcType=INTEGER}, #{intStatus,jdbcType=INTEGER}, 
      #{inviteCode,jdbcType=VARCHAR}, #{intNum,jdbcType=VARCHAR}, #{handRate,jdbcType=CHAR}, 
      #{proportion,jdbcType=CHAR}, #{tradeIntLimit,jdbcType=CHAR}, #{platformId,jdbcType=INTEGER}, 
      #{centerId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{agentId,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zz.springboot.winter.model.GameUserDO" >
    insert into game_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="intStatus != null" >
        int_status,
      </if>
      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="intNum != null" >
        int_num,
      </if>
      <if test="handRate != null" >
        hand_rate,
      </if>
      <if test="proportion != null" >
        proportion,
      </if>
      <if test="tradeIntLimit != null" >
        trade_int_limit,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="centerId != null" >
        center_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="intStatus != null" >
        #{intStatus,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="intNum != null" >
        #{intNum,jdbcType=VARCHAR},
      </if>
      <if test="handRate != null" >
        #{handRate,jdbcType=CHAR},
      </if>
      <if test="proportion != null" >
        #{proportion,jdbcType=CHAR},
      </if>
      <if test="tradeIntLimit != null" >
        #{tradeIntLimit,jdbcType=CHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="centerId != null" >
        #{centerId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz.springboot.winter.model.GameUserDO" >
    update game_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="intStatus != null" >
        int_status = #{intStatus,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="intNum != null" >
        int_num = #{intNum,jdbcType=VARCHAR},
      </if>
      <if test="handRate != null" >
        hand_rate = #{handRate,jdbcType=CHAR},
      </if>
      <if test="proportion != null" >
        proportion = #{proportion,jdbcType=CHAR},
      </if>
      <if test="tradeIntLimit != null" >
        trade_int_limit = #{tradeIntLimit,jdbcType=CHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
      <if test="centerId != null" >
        center_id = #{centerId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zz.springboot.winter.model.GameUserDO" >
    update game_user
    set username = #{username,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      user_status = #{userStatus,jdbcType=INTEGER},
      int_status = #{intStatus,jdbcType=INTEGER},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      int_num = #{intNum,jdbcType=VARCHAR},
      hand_rate = #{handRate,jdbcType=CHAR},
      proportion = #{proportion,jdbcType=CHAR},
      trade_int_limit = #{tradeIntLimit,jdbcType=CHAR},
      platform_id = #{platformId,jdbcType=INTEGER},
      center_id = #{centerId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      agent_id = #{agentId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>